.section__promotion-module{}
.section__banner{}
.box__banner{}
.section__banner .box__banner-inner{overflow:hidden;position:relative;margin:0 auto}
.section__banner .box__background{height:300px;background-repeat:no-repeat;background-position:50%}
.section__banner .box__background.box__background--blur{filter: blur(3px);-webkit-filter: blur(30);-moz-filter: blur(30);-o-filter: blur(30);-ms-filter: blur(30);}
.section__banner .box__background.box__background--dim:after{content:'';position:absolute;top:0;left:0;right:0;bottom:0;background-color:#000;opacity:0.2}
.section__banner .box__information{position:absolute;top:0;left:0;right:0;z-index:10;padding:30px 30px 0;color:#fff}
.section__banner .box__information.box__information--left{text-align:left}
.section__banner .box__information.box__information--center{text-align:center}
.section__banner .box__information.box__information--right{text-align:right}
.section__banner .box__information .text__banner-title .text__title{display:block;font-size:32px;line-height:40px}
.section__banner .box__information .text__event-date{display:block;margin-top:10px;font-size:14px;line-height:20px}
/* 가이드 */
.box__guide{padding:50px;max-width:1200px;margin:0 auto}
.text__guide-title{margin-top:20px;font-size:16px;color:#484848}
.button__apply{background-color:#ccc;color:#484848}
.button__guide{display:inline-block;margin-right:5px;font-size:14px;}
.box__option{margin-top:5px}
.box__option .form__text{height:25px;box-sizing:border-box}
.box__option .button__apply{height:25px;padding:0 10px}